<style>
  .errors {
    color: red;
  }
</style>

<form action="" method="POST">
  {% csrf_token %}
  <label for="Username">
    Username:
  </label>
  <input id="username" name="username" type="username">

  <label>
    Password:
    <input id="password" name="password" type="password">
  </label>
    <label>
    Repeat Password:
    <input id="repeatpassword" name="repeatpassword" type="password">
  </label>
  <label>
    <input id="registerbutton" name="registerbutton" value="Register" type="submit">
  </label>
</form>

<div class="errors">
  {{error}}
</div> 
